#ifndef SECRETS_H
#define SECRETS_H

// ============================================================================
// WIFI CREDENTIALS (EXAMPLE)
// ============================================================================
#define SECRET_WIFI_AP_NAME     "YourAPName"
#define SECRET_WIFI_AP_PASS     "YourStrongPassword"

// ============================================================================
// NETPIE CREDENTIALS (EXAMPLE)
// ============================================================================
#define SECRET_NETPIE_CLIENT_ID "your-client-id"
#define SECRET_NETPIE_TOKEN     "your-device-token"
#define SECRET_NETPIE_SECRET    "your-device-secret"

// ============================================================================
// OTA CREDENTIALS (EXAMPLE)
// ============================================================================
// ============================================================================
// TELNET CREDENTIALS (EXAMPLE)
// ============================================================================
#define SECRET_TELNET_PASSWORD  "admin1234"

#endif // SECRETS_H
